name: Semantic Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        uses: python-semantic-release/python-semantic-release@master
        with:
          # Use a PAT to bypass branch protection rules (e.g., 'Changes must be made through a PR')
          github_token: ${{ secrets.SEMANTIC_RELEASE_TOKEN }}
